body {
  background-color: black;
}

.background {
  overflow: scroll;
}

.square_zone {
  display: grid;
  grid-template-columns: repeat(99, 100px);
  grid-template-rows: repeat(99, 100px);
  gap: 4px;
}

.square {
  background-color: #554C4C;
  border-radius: 5px;
}

.profile_zone {
  background-color: #ffffff;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: #dddddd;
  font-size: 30px;
  border-radius: 3px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
  
.profile_main{

}

.image_area{

}

.name_area{

}

.position{

}

.position_icon{

}

.position_number{

}

.balance{

}

.balance_icon{

}

.balance_number{

}
                    
.transaction{

}

.transaction_icon{

}

.transaction_status{

}
                   
.wallet_zone{

}

.square_zone{

}

.button_zone{

}

.scroll_bar{

}