body {
  background-color: #1D1816;
}

.background {
  overflow: scroll;
}

.square_zone {
  display: grid;
  grid-template-columns: repeat(99, 80px);
  grid-template-rows: repeat(99, 80px);
  gap: 8px;
}

.square {
  background-color: #554C4C;
  border-radius: 4px;
}

.profile_zone {
  background-color: #ffffff;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 224px;
  height: 227px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
  
.profile_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_area {
  width: 80px;
  height: 80px;
}

.image_area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name_area{
  font-family: Poppins;
  font-size: 20px;
}

.position{

}

.position_icon{

}

.position_number{

}

.balance{

}

.balance_icon{

}

.balance_number{

}
                    
.transaction{

}

.transaction_icon{

}

.transaction_status{

}

.cta-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ffffff;
  color: #333333;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
                   
.wallet_zone {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-weight: bold;
}

.square_zone{

}

.button_zone{

}

.scroll_bar{

}